# Turso Database
TURSO_DATABASE_URL=libsql://your-db-name-your-org.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODQ1NDYyNjAsImlkIjoiMDE5ZjdlNGEtMTcwMS03MzgzLTkzNWItY2Q4MWQ4YWU2MDQ2Iiwia2lkIjoiTVgwNUM3d2czMllVdVJTblR2dHBtczlrRXRhbXlVRWpZTzZYRl9UMFRSSSIsInJpZCI6ImFmMjhkYTVkLWVmOTItNDc1Ni1iYThiLWUyZDIzODk3NjM1MSJ9.yi8C7QsDQCyRdBKopdCOU4n3zOZ1Che6Z0nTvrA7GV2964UlIzsX5GC8pB94jO1LW--e_Fi5jsYp0gm7aK86Bg

# SMS OTP (Fast2SMS or MSG91)
SMS_API_KEY=G4gnvOpzLucXdC8jtP16liqVx9MKreoDHQhF32bsS0mREN7aIwTeW4J3UF2ZvhQGb8l65tV9j0urmgEA
SMS_SENDER_ID=HALLBK

# Email (SMTP - Gmail App Password recommended)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=Sri Mahalakshmi Hall <youremail@gmail.com>

# App
NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
ADMIN_SECRET=your-strong-admin-secret-key

# OTP expiry in seconds
OTP_EXPIRY_SECONDS=300
